{% include "partials/header.liquid" %}

<h2>Edit Person</h2>
{% assign can_edit = auth.permissions["edit_people"] %}

<div class="card">
    <div class="card-body">
        <form method="POST">

            <div class="input-group mb-3">
                <label class="input-group-text" for="first_name">First Name:
                </label>
                <input
                        type="text"
                        class="form-control"
                        name="first_name"
                        id="first_name"
                        value="{{ person.first_name }}"
                        required
                {% unless can_edit %}
                    disabled
                        {% endunless %}>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="surname">Surname:
                </label>
                <input
                        type="text"
                        class="form-control"
                        name="surname"
                        id="surname"
                        value="{{ person.surname }}"
                        required
                {% unless can_edit %}
                    disabled
                        {% endunless %}>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="username">Username:
                </label>
                <input
                        type="text"
                        class="form-control"
                        name="username"
                        id="username"
                        value="{{ person.username }}"
                        required
                {% unless can_edit %}
                    disabled
                        {% endunless %}>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="form">Form:
                </label>
                <input
                        type="text"
                        class="form-control"
                        name="form"
                        id="form"
                        value="{{ person.form }}"
                {% unless can_edit %}
                    disabled
                        {% endunless %}>
            </div>

            <div class="mb-3">
                <div class="form-check">
                    <input
                            class="form-check-input"
                            type="radio"
                            name="was_first_entry"
                            value="true"
                            id="flexRadioDefault1"
                            {% if person.was_first_entry %}
                                checked
                            {% endif %}
                    {% unless can_edit %}
                        disabled
                            {% endunless %}>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Entered in 4th Form
                    </label>
                </div>
                <div class="form-check">
                    <input
                            class="form-check-input"
                            type="radio"
                            name="was_first_entry"
                            value="false"
                            id="flexRadioDefault2"
                            {% unless person.was_first_entry %}
                                checked
                            {% endunless %}
                    {% unless can_edit %}
                        disabled
                            {% endunless %}>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Entered in Lower Sixth
                    </label>
                </div>
            </div>


            <div class="mb-3">
                <div class="form-check">
                    <input
                            class="form-check-input"
                            type="radio"
                            name="permissions"
                            id="participant"
                            value="Participant"
                            {% if person.permissions == "Participant" %}
                                checked
                            {% endif %}
                    {% unless can_edit %}
                        disabled
                            {% endunless %}>
                    <label class="form-check-label" for="participant">
                        Participant
                    </label>
                </div>
                <div class="form-check">
                    <input
                            class="form-check-input"
                            type="radio"
                            name="permissions"
                            id="prefect"
                            value="Prefect"
                            {% if person.permissions == "Prefect" %}
                                checked
                            {% endif %}
                    {% unless can_edit %}
                        disabled
                            {% endunless %}>
                    <label class="form-check-label" for="prefect">
                        Prefect
                    </label>
                </div>
                <div class="form-check">
                    <input
                            class="form-check-input"
                            type="radio"
                            name="permissions"
                            id="admin"
                            value="Admin"
                            {% if person.permissions == "Admin" %}
                                checked
                            {% endif %}
                    {% unless can_edit %}
                        disabled
                            {% endunless %}>
                    <label class="form-check-label" for="admin">
                        Admin
                    </label>
                </div>
                <div class="form-check">
                    <input
                            class="form-check-input"
                            type="radio"
                            name="permissions"
                            id="dev"
                            value="Dev"
                            {% if person.permissions == "Dev" %}
                                checked
                            {% endif %}
                    {% unless can_edit %}
                        disabled
                            {% endunless %}>
                    <label class="form-check-label" for="dev">
                        Developer
                    </label>
                </div>
            </div>

            <button
                    type="submit"
                    class="btn btn-primary"
            {% unless can_edit %}
                disabled
                    {% endunless %}>Edit person.
            </button>
        </form>
    </div>
</div>


{% if can_edit %}
    <br>
    <form method="POST" action="/reset_password">
        <input
                type="hidden"
                name="id"
                value="{{ person.id }}">
        <button
                type="submit"
                class="btn btn-danger"
        {% unless person.password_is_set %}
            disabled
                {% endunless %}>Reset Password.
        </button>
    </form>
{% endif %}

<br>

<div class="row">
    {% if person.is_prefect %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Events Supervised</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <td>Event</td>
                            <td>Date</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in supervised %}
                            <tr>
                                <td>
                                    <a href="/update_event/{{ event.id }}">{{ event.name }}</a>
                                </td>
                                <td>{{ event.date }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Events Attended</h2>

                <b>House Points: {{ participated | size }}</b>

                <br>

                <table class="table">
                    <thead>
                    <tr>
                        <td>Event</td>
                        <td>Date</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in participated %}
                        <tr>
                            <td>
                                <a href="/update_event/{{ event.id }}">{{ event.name }}</a>
                            </td>
                            <td>{{ event.date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<br>

<div class="card">
    <div class="card-body">
        <h2 class="card-title">Awards Received</h2>

        <ul class="list-group list-group-flush">
            {% for reward in rewards %}
                <li class="list-group-item">{{ reward.name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<br>

{% include "partials/footer.liquid" %}