{% include "partials/header.liquid" %}

<h2>Edit Person</h2>
{% assign can_edit = auth.permissions["edit_people"] %}

<div class="card">
    <div class="card-body">
        <form method="POST">
            <div class="input-group mb-3">
                <label class="input-group-text" for="first_name">First Name:
                </label>
                <input
                        type="text"
                        class="form-control"
                        name="first_name"
                        id="first_name"
                        value="{{ person.first_name }}"
                        required
                {% unless can_edit %}
                    disabled
                        {% endunless %}>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="surname">Surname:
                </label>
                <input
                        type="text"
                        class="form-control"
                        name="surname"
                        id="surname"
                        value="{{ person.surname }}"
                        required
                {% unless can_edit %}
                    disabled
                        {% endunless %}>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="username">Username:
                </label>
                <input
                        type="text"
                        class="form-control"
                        name="username"
                        id="username"
                        value="{{ person.username }}"
                        required
                {% unless can_edit %}
                    disabled
                        {% endunless %}>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="form">Form:
                </label>
                <input
                        type="text"
                        class="form-control"
                        name="form"
                        id="form"
                        value="{{ person.form }}"
                {% unless can_edit %}
                    disabled
                        {% endunless %}>
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input
                            class="form-check-input"
                            type="radio"
                            name="was_first_entry"
                            value="true"
                            id="flexRadioDefault1"
                            {% if person.was_first_entry %}
                                checked
                            {% endif %}
                    {% unless can_edit %}
                        disabled
                            {% endunless %}>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Entered in 4th Form
                    </label>
                </div>
                <div class="form-check">
                    <input
                            class="form-check-input"
                            type="radio"
                            name="was_first_entry"
                            value="false"
                            id="flexRadioDefault2"
                            {% unless person.was_first_entry %}
                                checked
                            {% endunless %}
                    {% unless can_edit %}
                        disabled
                            {% endunless %}>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Entered in Lower Sixth
                    </label>
                </div>
            </div>

            {% if can_edit %}
                <div class="mb-3">
                    <div class="form-check">
                        <input
                                class="form-check-input"
                                type="radio"
                                name="permissions"
                                id="participant"
                                value="Participant"
                                {% if person.permissions == "Participant" %}
                                    checked
                                {% endif %}
                        {% unless can_edit %}
                            disabled
                                {% endunless %}>
                        <label class="form-check-label" for="participant">
                            Participant
                        </label>
                    </div>
                    <div class="form-check">
                        <input
                                class="form-check-input"
                                type="radio"
                                name="permissions"
                                id="prefect"
                                value="Prefect"
                                {% if person.permissions == "Prefect" %}
                                    checked
                                {% endif %}
                        {% unless can_edit %}
                            disabled
                                {% endunless %}>
                        <label class="form-check-label" for="prefect">
                            Prefect
                        </label>
                    </div>
                    <div class="form-check">
                        <input
                                class="form-check-input"
                                type="radio"
                                name="permissions"
                                id="admin"
                                value="Admin"
                                {% if person.permissions == "Admin" %}
                                    checked
                                {% endif %}
                        {% unless can_edit %}
                            disabled
                                {% endunless %}>
                        <label class="form-check-label" for="admin">
                            Admin
                        </label>
                    </div>
                    <div class="form-check">
                        <input
                                class="form-check-input"
                                type="radio"
                                name="permissions"
                                id="dev"
                                value="Dev"
                                {% if person.permissions == "Dev" %}
                                    checked
                                {% endif %}
                        {% unless can_edit %}
                            disabled
                                {% endunless %}>
                        <label class="form-check-label" for="dev">
                            Developer
                        </label>
                    </div>
                </div>

                <button
                        type="submit"
                        class="btn btn-primary"
                {% unless can_edit %}
                    disabled
                        {% endunless %}>Edit person.
                </button>
            {% endif %}
        </form>
    </div>
</div>


{% if can_edit %}
    <br>
    <form method="POST" action="/reset_password">
        <input
                type="hidden"
                name="id"
                value="{{ person.id }}">
        <button
                type="submit"
                class="btn btn-danger">Reset Password.
        </button>
    </form>
{% endif %}

<br>

<div class="row">
    {% if person.is_prefect %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Events Supervised</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <td>Event</td>
                            <td>Date</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in supervised %}
                            <tr>
                                <td>
                                    <a href="/update_event/{{ event.id }}">{{ event.name }}</a>
                                </td>
                                <td>{{ event.date }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Events Attended</h2>
                <b>House Points: {{ pts }}</b>
                <br>
                <b>Events Attended: {{ event_pts }}</b>
                <br>

                <table class="table">
                    <thead>
                    <tr>
                        <td>Event</td>
                        <td>Date</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in participated %}
                        <tr>
                            <td>
                                <a href="/update_event/{{ event.id }}">{{ event.name }}</a>
                            </td>
                            <td>{{ event.date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Bonus Points</h2>
                <b>House Points: {{ pts }}</b>
                <br>
                <b>Bonus Points: {{ bonus_pts }}</b>
                <br>

                <table class="table">
                    <thead>
                    <tr>
                        <td>Reason</td>
                        <td>Points</td>
                        <td>Awarded By</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for point in bonus_points %}
                        <tr>
                            <td>
                            {% if auth.permissions["see_bonus_points"] %}
                                <a href="/update_bonus_point/{{ point.bonus_point_id }}">
                                    {% endif %}
                                    {{ point.reason }}
                                    {% if auth.permissions["see_bonus_points"] %}
                                </a>
                                {% endif %}
                            </td>
                            <td>{{ point.num_points }}</td>
                            <td>{{ point.staff_username }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>

<div class="card">
    <div class="card-body">
        <h2 class="card-title">Rewards Received</h2>

        <ul class="list-group list-group-flush">
            {% for reward in rewards %}
                <li class="list-group-item">{{ reward.name }}</li>
            {% endfor %}
            {% if rewards.size == 0 %}
                <li class="list-group-item">No rewards achieved</li>
            {% endif %}
        </ul>
    </div>
</div>

<br>

<div class="card">
    <div class="card-body">
        <h2 class="card-title">Possible event photos</h2>

        {% if auth.permissions["see_photos"] %}
        {% if n_imgs == 0 %}
            <p>No Images yet</p>
        {% else %}
            <div id="imagesCarousel" class="carousel slide carousel-fade">
                <div class="carousel-inner">
                    {% for img in imgs %}
                        {% if forloop.first %}
                            {% assign class = "carousel-item active" %}
                        {% else %}
                            {% assign class = "carousel-item" %}
                        {% endif %}
                        <div class="{{ class }}">
                            <img
                                    src="/{{ img.path }}"
                                    class="d-block w-100 h-100"
                                    alt="Photo of people playing sports">
                        </div>
                    {% endfor %}
                </div>

                {% if n_imgs > 1 %}
                    <button
                            class="carousel-control-prev"
                            type="button"
                            data-bs-target="#imagesCarousel"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button
                            class="carousel-control-next"
                            type="button"
                            data-bs-target="#imagesCarousel"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                {% endif %}
            </div>

            <br>
        {% endif %}
    </div>
</div>
{% else %}
    <p class="warning">You must log in to view images.</p>
{% endif %}

<br>

{% include "partials/footer.liquid" %}
