{% include "partials/header.liquid" %}

<h2>Form Migrations</h2>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Current Name</th>
        <th scope="col">New name</th>
        <th scope="col">Change</th>
    </tr>
    </thead>
    <tbody>
    {% for form in forms %}
        <form method="post">
            <tr>
                <th scope="row">
                    <label for="change_{{ form }}">
                        <a href="/show_all#{{ form }}">{{ form }}</a>
                    </label>
                </th>
                <td>
                    <input
                            type="hidden"
                            name="old_name"
                            value="{{ form }}">
                    <input
                            type="text"
                            name="new_name"
                            class="form-control"
                            id="change_{{ form }}">
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Change!</button>
                </td>
            </tr>
        </form>
    {% endfor %}
    </tbody>
</table>

{% include "partials/footer.liquid" %}