{% include "partials/header.liquid" %}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">ICalendar Link:</h5>
    <div class="card">
      <div class="card-body">
        <a href="https://knot.maguire.tech/ical" target="_blank">https://knot.maguire.tech/ical</a>
      </div>
    </div>
    <a href="https://support.google.com/calendar/answer/37100?hl=en" class="card-link">Setup for Google Calendar</a>
    <a href="https://support.apple.com/en-gb/HT202361" class="card-link">Setup for Apple Calendar</a>
  </div>
</div>

<br>

<h2>Future Events</h2>

{% for row in events_to_happen %}
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">
        {{ row.event.event_name }}
      </h2>

      <br>

      <p class="card-text">
        Happening at {{ row.event.date }} in/at {{ row.event.location }} managed by {{ row.event.teacher }}
      </p>
      <p class="card-text">
        Notes: {{ row.event.other_info }}
      </p>

      <br>

      <div class="row">
        <div class="col">
          <h3>Prefects</h3>
          <ul>
            {% for prefect in row.prefects %}
              <li>{{ prefect.person_name }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="col">
          <h3>Participants</h3>
          {% for participant in row.participants %}
            <li>{{ participant.person_name }}</li>
          {% endfor %}
        </div>
      </div>

      <br>
      <a href="/update_event/{{row.event.id}}" class="btn btn-primary">Modify the details, add photos/people</a>
      <br>

      <br>

      <h3>Photos</h3>

      <div class="row">
        <div class="col">
          <form
            action="/add_image/{{row.event.id}}"
            method="POST"
            enctype=multipart/form-data>
            <div class="mb-3">
              <label for="photo" class="form-label">Add Photo:</label>
              <input
                type="file"
                name="photo"
                id="photo"
                class="form-control"
                accept="image/bmp, image/exr, image/gif, image/hdr, image/ico, image/jpeg, image/png, image/qoi, image/tiff, image/webp"
                required>
            </div>

            <button type="submit" class="btn btn-primary">Add photo.</button>
          </form>
        </div>
        <div class="col">
          <a
            href="/get_all_imgs/{{row.event.id}}"
            target="_blank"
            class="btn btn-primary">Download all images</a>
        </div>
      </div>
    </div>
  </div>

  <br>
{% endfor %}


<h2>Past Events</h2>

{% for row in happened_events %}
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">
        {{ row.event.event_name }}
      </h2>

      <br>

      <p class="card-text">
        Happening at {{ row.event.date }} in/at {{ row.event.location }} managed by {{ row.event.teacher }}
      </p>
      <p class="card-text">
        Notes: {{ row.event.other_info }}
      </p>

      <br>

      <div class="row">
        <div class="col">
          <h3>Prefects</h3>
          <ul>
            {% for prefect in row.prefects %}
              <li>{{ prefect.person_name }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="col">
          <h3>Participants</h3>
          {% for participant in row.participants %}
            <li>{{ participant.person_name }}</li>
          {% endfor %}
        </div>
      </div>

      <br>
      <a href="/update_event/{{row.event.id}}" class="btn btn-primary">Modify the details, add photos/people</a>
      <br>

      <br>

      <h3>Photos</h3>

      <div class="row">
        <div class="col">
          <form
            action="/add_image/{{row.event.id}}"
            method="POST"
            enctype=multipart/form-data>
            <div class="mb-3">
              <label for="photo" class="form-label">Add Photo:</label>
              <input
                type="file"
                name="photo"
                id="photo"
                class="form-control"
                accept="image/bmp, image/exr, image/gif, image/hdr, image/ico, image/jpeg, image/png, image/qoi, image/tiff, image/webp"
                required>
            </div>

            <button type="submit" class="btn btn-primary">Add photo.</button>
          </form>
        </div>
        <div class="col">
          <a
            href="/get_all_imgs/{{row.event.id}}"
            target="_blank"
            class="btn btn-primary">Download all images</a>
        </div>
      </div>
    </div>
  </div>

  <br>
{% endfor %}

{% include "partials/footer.liquid" %}