{% include "partials/header.liquid" %}

<form method="POST" action="/remove_person">
  <h2>Remove People</h2>

  <label for="person_id" class="form-label">Remove People:</label>

  {% for person in people %}
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        name="person_id"
        id="person_id"
        value="{{person.id}}">
      <label class="form-check-label" for="person_id">
        {{ person.first_name }} {{ person.surname }}
        <i>({{ person.form }})</i>
        -
        {% unless person.is_prefect %}
          Not a
        {% endunless %}
        Prefect
      </label>
    </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Remove People.</button>
</form>

<br><br>

<form method="POST" action="/remove_event">
  <h2>Remove Events</h2>

  <label for="event_id" class="form-label">Remove Events:</label>

  {% for event in events %}
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        name="event_id"
        id="event_id"
        value="{{event.id}}">
      <label class="form-check-label" for="event_id">
        {{ event.event_name }} - {{ event.date }}
      </label>
    </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Remove Events.</button>
</form>


{% include "partials/footer.liquid" %}