{% include "partials/header.liquid" %}

<form method="POST">
  <h2>Update Event</h2>

  <div class="mb-3">
    <label for="name" class="form-label">Event Name:</label>
    <input
      type="text"
      name="name"
      id="name"
      class="form-control"
      value="{{event.event_name}}">
  </div>
  <div class="mb-3">
    <label for="date" class="form-label">Date/Time:</label>
    <input
      type="datetime-local"
      id="date"
      name="date"
      class="form-control"
      value="{{event.date}}">
  </div>
  <div class="mb-3">
    <label for="location" class="form-label">Location:</label>
    <input
      type="text"
      id="location"
      name="location"
      class="form-control"
      value="{{event.location}}">
  </div>
  <div class="mb-3">
    <label for="teacher" class="form-label">Teacher:</label>
    <input
      type="text"
      id="teacher"
      name="teacher"
      class="form-control"
      value="{{event.teacher}}">
  </div>
  <div class="mb-3">
    <label for="info" class="form-label">Other Information:</label>
    <input
      type="textarea"
      id="info"
      name="info"
      class="form-control"
      value="{{event.other_info}}">
  </div>

  <button type="submit" class="btn btn-primary">Update Event.</button>
</form>

<br><br>


<div class="card">
  <div class="row card-body">
    <h3 class="card-title">Potential</h3>
    <div class="col">
      <h5>Prefects</h3>
      <div class="list-group">
        {% for prefect in prefects %}
          <a class="list-group-item" href="/add_prefect/{{event.id}}/{{prefect.id}}">
            Add {{ prefect.person_name }}
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="col">
      <h5>Participants</h3>
      <div class="list-group">
        {% for person in participants %}
          <a class="list-group-item" href="/add_participant/{{event.id}}/{{person.id}}">
            Add {{ person.person_name }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<br>

<div class="card">
  <div class="row card-body">
    <h3 class="card-title">Curent</h3>
    <div class="col">
      <h5>Prefects</h3>
      <div class="list-group">
        {% for prefect in existing_prefects %}
          <a class="list-group-item" href="/remove_prefect_from_event/{{prefect.relation_id}}">
            Remove {{ prefect.person_name }}
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="col">
      <h5>Participants</h3>
      <div class="list-group">
        {% for person in existing_participants %}
          <a class="list-group-item" href="/remove_participant_from_event/{{person.relation_id}}">
            Remove {{ person.person_name }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


{% include "partials/footer.liquid" %}