{% include "partials/header.liquid" %}

<h1>{{ event.event_name }}</h1>

<br>

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Update Event</h2>
    <form method="POST">

      <div class="input-group mb-3">
        <span class="input-group-text" id="name">Event Name:
        </span>
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          value="{{event.event_name}}"
          required
          {% unless auth.permissions["edit_events"] %}
          disabled
          {% endunless %}>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="date">Start Time:
        </span>
        <input
          type="datetime-local"
          id="date"
          name="date"
          class="form-control"
          value="{{event.date}}"
          required
          {% unless auth.permissions["edit_events"] %}
          disabled
          {% endunless %}>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="location">Location:
        </span>
        <input
          type="text"
          id="location"
          name="location"
          class="form-control"
          value="{{event.location}}"
          required
          {% unless auth.permissions["edit_events"] %}
          disabled
          {% endunless %}>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="teacher">Teacher:
        </span>
        <input
          type="text"
          id="teacher"
          name="teacher"
          class="form-control"
          value="{{event.teacher}}"
          required
          {% unless auth.permissions["edit_events"] %}
          disabled
          {% endunless %}>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="info">Other Information:
        </span>
        <input
          type="textarea"
          id="info"
          name="info"
          class="form-control"
          value="{{event.other_info}}"
          {% unless auth.permissions["edit_events"] %}
          disabled
          {% endunless %}>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        {% unless auth.permissions["edit_events"] %}
        disabled
        {% endunless %}>Update Event.</button>
    </form>
  </div>
</div>

<br>

{% if auth.permissions["add_rm_self_to_event"] %}
  <div class="card">
    <div class="card-body">
      {% if auth.permissions["edit_participants_on_events"] or already_in.past_date != true %}
        {% if already_in.is_in %}
          <form method="POST" action="/remove_participant_from_event">
            <input
              type="hidden"
              name="relation_id"
              value="{{already_in.rel_id}}">
            <button type="submit" class="btn btn-danger">Unsign up!</button>
          </form>
        {% else %}
          <form method="POST" action="/add_participant">
            <input
              type="hidden"
              name="person_ids"
              value="{{auth.user.id}}">
            <input
              type="hidden"
              name="event_id"
              value="{{event.id}}">
            <button type="submit" class="btn btn-primary">Sign up!</button>
          </form>
        {% endif %}
      {% else %}
        <div class="alert alert-info" role="alert">
          If you think there is a mistake here, contact a prefect to fix it!
        </div>
      {% endif %}
    </div>
  </div>
  <br>
{% endif %}

<div class="row">
  {% if auth.permissions["edit_prefects_on_events"] or auth.permissions["edit_participants_on_events"] %}
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Potential</h3>
          {% if auth.permissions["edit_prefects_on_events"] %}

            <h5>Prefects</h3>
            <form method="POST" action="/add_prefect">
              <div class="accordion" id="pot_pres">
                {% for form in prefects %}
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#pot_pres_{{form.form}}"
                        aria-controls="pot_pres_{{form.form}}">
                        {{ form.form }}
                      </button>
                    </h2>
                    <div
                      class="accordion-collapse collapse"
                      data-bs-parent="pot_pres"
                      id="pot_pres_{{form.form}}">
                      <div class="accordion-body">
                        {% for person in form.people %}
                          <div class="form-check">
                            <input
                              type="checkbox"
                              name="person_ids"
                              id="{{person.first_name}}_{{person.surname}}_prefect_checkbox"
                              class="form-check-input"
                              value="{{person.id}}">
                            <label
                              for=""
                              class="form-check-label"
                              for="{{person.first_name}}_{{person.surname}}_prefect_checkbox">{{ person.first_name }} {{ person.surname }}</label>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>

              <input
                type="hidden"
                name="event_id"
                value="{{event.id}}">
              <button type="submit" class="btn btn-link">Add selected prefects.</button>


            </form>
          {% endif %}
          {% if auth.permissions["edit_participants_on_events"] %}


            <h5>Participants</h3>

            <form method="POST" action="/add_participant">
              <div class="accordion" id="pot_part">
                {% for form in participants %}
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#pot_part_{{form.form}}"
                        aria-controls="pot_part_{{form.form}}">
                        {{ form.form }}
                      </button>
                    </h2>
                    <div
                      class="accordion-collapse collapse"
                      data-bs-parent="pot_part"
                      id="pot_part_{{form.form}}">
                      <div class="accordion-body">
                        {% for person in form.people %}
                          <div class="form-check">
                            <input
                              type="checkbox"
                              name="person_ids"
                              id="{{person.first_name}}_{{person.surname}}_participant_checkbox"
                              class="form-check-input"
                              value="{{person.id}}">
                            <label
                              for=""
                              class="form-check-label"
                              for="{{person.first_name}}_{{person.surname}}_participant_checkbox">{{ person.first_name }} {{ person.surname }}</label>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
              <input
                type="hidden"
                name="event_id"
                value="{{event.id}}">
              <button type="submit" class="btn btn-link">Add selected people.</button>

            </form>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Current</h3>

        <h3>Prefects</h3>
        {% if existing_prefects.size > 0 %}
          <ul class="list-group list-group-flush">
            {% for form in existing_prefects %}
              <li class="list-group-item">
                <b>{{ form.form }}</b>
              </li>
              {% for person in form.people %}
                <li class="list-group-item">
                  {% if auth.permissions["edit_prefects_on_events"] %}
                    <form action="/remove_prefect_from_event" method="POST">
                      <input
                        type="hidden"
                        name="relation_id"
                        value="{{person.relation_id}}">
                      <button type="submit" class="btn btn-link">Remove {{ person.first_name }} {{ person.surname }}</button>
                    </form>
                  {% else %}
                    {{ person.first_name }} {{ person.surname }}
                  {% endif %}
                </li>
              {% endfor %}
            {% endfor %}
          </ul>
        {% else %}
          <p>No prefects yet.</p>
          <br>
        {% endif %}

        <h3>Participants</h3>
        {% if existing_participants.size > 0 %}
          <table class="table">
            <thread>
              <tr>
                <th scope="col">Name</th>
                {% if auth.permissions["edit_participants_on_events"] %}
                  <th scope="col">Remove</th>
                {% endif %}
                {% if auth.permissions["verify_events"] %}
                  <th scope="col">Verify</th>
                {% endif %}
              </tr>
            </thread>
            <tbody>

            {% for form in existing_participants %}
              <tr>
                <th colspan="3" class="text-align: center">{{ form.form }}</th>
              </tr>
              {% for person in form.people %}
              <tr>
                <td>{{ person.first_name }} {{ person.surname }}</th>
                {% if auth.permissions["edit_participants_on_events"] %}
                  <td>
                    <form action="/remove_participant_from_event" method="POST">
                      <input
                        type="hidden"
                        name="relation_id"
                        value="{{person.relation_id}}">
                      <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                  </td>
                {% else %}
                <td></td>
              {% endif %}
                {% if auth.permissions["verify_events"] %}
                  {% if person.is_verified %}
                    <td> Verified! </td>
                  {% else %}
                    <td>
                      <form action="/verify_participant" method="POST">
                        <input
                          type="hidden"
                          name="event_id"
                          value="{{event.id}}">
                        <input
                          type="hidden"
                          name="person_id"
                          value="{{person.id}}">
                        <button type="submit" class="btn btn-info">Verify</button>
                      </form>
                    </td>
                {% endif %}
                {% else %}
                  <td></td>
                {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>No participants yet.</p>
          <br>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<br>

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Existing Images</h2>

    {% if auth.permissions["see_photos"] %}
      <a href="/get_all_imgs/{{event.id}}" class="btn btn-primary">Download as zip.</a>

      <br>

      {% if n_imgs == 0 %}
        <p>No Images yet</p>
      {% else %}
        <div id="imagesCarousel" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            {% for img in imgs %}
              {% if forloop.first %}
                {% assign class = "carousel-item active" %}
              {% else %}
                {% assign class = "carousel-item" %}
              {% endif %}
              <div class="{{class}}">
                <img
                  src="/{{img.path}}"
                  class="d-block w-100 h-100"
                  alt="Photo of people playing sports">
                <div class="carousel-caption d-none d-md-block">
                  <a href="/remove_img/{{img.id}}" class="btn btn-danger">Remove Image</a>
                </div>
              </div>
            {% endfor %}
          </div>

          {% if n_imgs > 1 %}
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#imagesCarousel"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#imagesCarousel"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          {% endif %}
        </div>

        <br>
      {% endif %}


      {% if auth.permissions["add_photos"] %}
        <div class="card">
          <div class="card-body">
            <form
              action="/add_image/{{event.id}}"
              method="POST"
              enctype=multipart/form-data>
              <div class="mb-3">
                <label for="photo" class="form-label">Add Photo:</label>
                <input
                  type="file"
                  name="photo"
                  id="photo"
                  class="form-control"
                  accept="image/bmp, image/exr, image/gif, image/hdr, image/ico, image/jpeg, image/png, image/qoi, image/tiff, image/webp"
                  required
                  multiple>
              </div>

              <button type="submit" class="btn btn-primary">Add photo.</button>
            </form>
          </div>
        </div>

        <br>
      {% endif %}

      {% if auth.permissions["view_photo_adders"] %}
        <div class="card">
          <div class="body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Photo</th>
                  <th scope="col">Added By</th>
                  <th scope="col">Remove</th>
                </tr>
              </thead>
              <tbody>
                {% for img in imgs %}
                  <tr>
                    <td>
                      <a href="/{{img.path}}">See</a>
                    </td>
                    <td>
                      {% if img.has_added_by %}
                        <p>{{ img.added_by[0] }}
                          <i>({{ img.added_by[1] }})</i>
                        </p>
                      {% else %}
                        <p>N/A</p>
                      {% endif %}
                    </td>
                    <td>
                      <a href="/remove_img/{{img.id}}" class="btn btn-danger">Remove Image</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}


    {% else %}
      <p class="warning">You must login to view images.</p>
    {% endif %}

  </div>
</div>

<br>

{% include "partials/footer.liquid" %}
