{% include "partials/header.liquid" %}

<h2>Update Event</h2>
<div class="card">
  <div class="card-body">
    <form method="POST">

      <div class="input-group mb-3">
        <span class="input-group-text" id="name">Event Name:
        </span>
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          value="{{event.event_name}}">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="date">Start Time:
        </span>
        <input
          type="datetime-local"
          id="date"
          name="date"
          class="form-control"
          value="{{event.date}}">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="location">Location:
        </span>
        <input
          type="text"
          id="location"
          name="location"
          class="form-control"
          value="{{event.location}}">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="teacher">Teacher:
        </span>
        <input
          type="text"
          id="teacher"
          name="teacher"
          class="form-control"
          value="{{event.teacher}}">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="info">Other Information:
        </span>
        <input
          type="textarea"
          id="info"
          name="info"
          class="form-control"
          value="{{event.other_info}}">
      </div>

      <button type="submit" class="btn btn-primary">Update Event.</button>
    </form>

  </div>
</div>



<br><br>


<div class="card">
  <div class="row card-body">
    <h3 class="card-title">Potential</h3>
    <div class="col">
      <h5>Prefects</h3>
      <div class="list-group">
        {% for prefect in prefects %}
          <a class="list-group-item" href="/add_prefect/{{event.id}}/{{prefect.id}}">
            Add {{ prefect.person_name }}
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="col">
      <h5>Participants</h3>
      <div class="list-group">
        {% for person in participants %}
          <a class="list-group-item" href="/add_participant/{{event.id}}/{{person.id}}">
            Add {{ person.person_name }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<br>

<div class="card">
  <div class="row card-body">
    <h3 class="card-title">Curent</h3>
    <div class="col">
      <h5>Prefects</h3>
      <div class="list-group">
        {% for prefect in existing_prefects %}
          <a class="list-group-item" href="/remove_prefect_from_event/{{prefect.relation_id}}">
            Remove {{ prefect.person_name }}
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="col">
      <h5>Participants</h3>
      <div class="list-group">
        {% for person in existing_participants %}
          <a class="list-group-item" href="/remove_participant_from_event/{{person.relation_id}}">
            Remove {{ person.person_name }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


{% include "partials/footer.liquid" %}